<div class="container-fluid bkgrounddark">
<div class="container">

    <div class="col-sm-8 col-lg-12"></div>
    <div>
        <form name="profileForm">
        <br>
        <h4>Student Profile</h4>
        <div class="form-group col-sm-2">
            <label for="regId">Reg ID</label>
            <input id="regId" class="form-control" name="regId" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.regID" value="{{ctrl.pgrrecord.parent.passanger.registration.regID}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-4">
            <label for="stuSchool">School</label>
            <input id="stuSchool" class="form-control" name="stuSchool" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.class.school" value="{{ctrl.pgrrecord.parent.passanger.registration.class.school}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="year">Year</label>
            <input id="year" class="form-control" name="year" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.year" value="{{ctrl.pgrrecord.parent.passanger.registration.year}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="stuClass">Class</label>
            <input id="stuClass" class="form-control" name="stuClass" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.class.class" value="{{ctrl.pgrrecord.parent.passanger.registration.class.class}}"ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="stuSession">Session</label>
            <input id="stuSession" class="form-control" name="stuSession" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.sess" value="{{ctrl.pgrrecord.parent.passanger.registration.sess}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="stuId">Student ID</label>
            <input id="stuId" class="form-control" name="stuId" type="text" ng-model="ctrl.pgrrecord.parent.passanger.pgrID" value="{{ctrl.pgrrecord.parent.passanger.pgrID}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-4">
            <label for="stuName">Student Name</label>
            <input id="stuName" class="form-control" name="stuName" type="text" ng-model="ctrl.pgrrecord.parent.passanger.pgrName" value="{{ctrl.pgrrecord.parent.passanger.pgrName}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="servicetype ">Service Type</label>
            <input id="servicetype" class="form-control" name="servicetype" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.serviceType" value="{{ctrl.pgrrecord.parent.passanger.registration.serviceType}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="payscheme ">Pay Scheme</label>
            <input id="payscheme" class="form-control" name="payscheme" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.payScheme" value="{{ctrl.pgrrecord.parent.passanger.registration.payScheme}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-2">
            <label for="busfee ">Bus Fee</label>
            <input id="busfee" class="form-control" name="busfee" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.fees" value="ctrl.pgrrecord.parent.passanger.registration.fees" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-6">
            <label for="stuPickup">Pick Up Address</label>
            <input id="stuPickup" class="form-control" name="stuPickup" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.pickupAddr" value="{{ctrl.pgrrecord.parent.passanger.registration.pickupAddr}}" ng-disabled="ctrl.noedit">
        </div>
        <div class="form-group col-sm-6">
            <label for="stuReturn">Return Address</label>
            <input id="stuReturn" class="form-control" name="stuReturn" type="text" ng-model="ctrl.pgrrecord.parent.passanger.registration.returnAddr" value="{{ctrl.pgrrecord.parent.passanger.registration.returnAddr}}"ng-disabled="ctrl.noedit">
        </div>


        <h4>Student Payment History</h4>

        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="JAN-id">JAN</button>    
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="JAN-id">JAN</button>    
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="MAR-id">MAR</button>            
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="APR-id">APR</button>                           
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="MAY-id">MAY</button>    
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="JUN-id">JUN</button>    
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="JUL-id">JUL</button>            
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="AUG-id">AUG</button>                           
        </div>  
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="SEP-id">SEP</button>    
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="OCT-id">OCT</button>    
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="NOV-id">NOV</button>            
        </div>
        <div class="col-sm-3">
            <button type="submit" class="btn btn-default form-control" id="DEC-id">DEC</button>                           
        </div>  
    

    
    <!--  <div class="container col-sm-3 pull-right" style="padding-top: 20px">
        <div class="form-group">
            <button type="submit" class="btn btn-primary form-control" id="update-id">Update</button>
                    
        </div> 
        </div>  -->
        </form>
    </div>
</div>
</div>
<!--

<div class="form-group">

        <input id="submit"
                name="Update"
                type="submit"
                class="btn btn-success"/>
        <input id="cancel"
                name="cancel"
                type="submit"
                class="btn btn-success"/>
    </div>
-->