<div class="col-sm-8 col-lg-2" ></div>
<div class="col-sm-8 col-lg-4" style="background-color: white">

   <h1>Register is sucessful</h1>
   <h1>Register is sucessful</h1>
   <h1>Register is sucessful</h1>
   <h1>Register is sucessful</h1>
   <h1>Register is sucessful</h1>

        
    <button type="submit" class="btn btn-primary form-control" ng-click="ctrl.profileMain()" id="continue-id">continue</button>                   

</div>