<div class="container-fluid bkground">
    <div class="col-sm-8 col-lg-3 pull-right">
    <div><br></div>
    <div class="alert alert-info">
        <h5><strong>The OTP has been send to your contact {{ctrl.user.mobilen}}</strong></h5>
    </div>
    <div class="alert alert-warning">
        <h5><strong>You confirm that you are the owner of the contact {{ctrl.user.mobilen}} by clicking the Next button</strong></h5>
        <h5><strong>Otherwise, Do not proceed.</strong></h5>
    </div>

    <form name="registerotp" ng-submit="registerotp.$valid && ctrl.registerApp()"  novalidate="">
        <div class="form-group">
                <!-- <label for="otp">Enter OTP</label> -->
                <input id="otp"
                       class="form-control"
                       name="otp"
                       type="number"
                       required

                       maxlength="6"
                       ng-model="ctrl.user.otp"
                       value="ctrl.user.otp"
                       placeholder='Enter OTP'
                       />
    
                <div class="validation"  data-ng-show="registerForm.mobilen.$touched || registerForm.$submitted">
                    <div data-ng-show="registerForm.mobilen.$error.required">
                        <span class="glyphicon glyphicon-alert"></span>
                        OTP is required.
                    </div>
                    <div data-ng-show="registerForm.mobilen.$error.maxlength">
                        <span class="glyphicon glyphicon-alert"></span>
                        OTP must be at least 6 digits long.
                    </div>
                </div>
            </div>


        <div class="form-group">
          
            <input id="submit" name="submit" type="submit" class="btn btn-primary pull-right" value="Next" >
            <br>
        </div>
    </form>

    <div >
        <input id="resendotp" name="resendotp" type="submit" class="btn btn-primary pull-left" ng-click="ctrl.otpgen()" value="Resend OTP" >
        <br>
        <br>
        <br>
        <div class="alert alert-danger form-group" ng-show="ctrl.chkOK == 201">
            <h5><strong>OTP is NOT correct. Try again</strong></h5>
        </div>
        <div class="alert alert-danger form-group" ng-show="ctrl.chkOK == 202">
            <h5><strong>OTP is more than 2 minutes. Click Resend OTP to get a new OTP</strong></h5>
        </div>
    </div>


</div> <!-- end of Register-->